comp-cent-web/src/main/webapp/heroku-wsdl/HerokuAgesic.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://servicios/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ServicioAgesicService" targetNamespace="http://servicios/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://servicios/" elementFormDefault="unqualified" targetNamespace="http://servicios/" version="1.0">
<xs:element name="obtenerPersona" type="tns:obtenerPersona"/>
<xs:element name="obtenerPersonaResponse" type="tns:obtenerPersonaResponse"/>
<xs:complexType name="obtenerPersona">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="obtenerPersonaResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:dtPersona"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="dtPersona">
<xs:sequence>
<xs:element name="ci" type="xs:int"/>
<xs:element minOccurs="0" name="fnac" type="xs:string"/>
<xs:element minOccurs="0" name="tipo" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="obtenerPersonaResponse">
<wsdl:part element="tns:obtenerPersonaResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="obtenerPersona">
<wsdl:part element="tns:obtenerPersona" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="ServicioAgesic">
<wsdl:operation name="obtenerPersona">
<wsdl:input message="tns:obtenerPersona" name="obtenerPersona"> </wsdl:input>
<wsdl:output message="tns:obtenerPersonaResponse" name="obtenerPersonaResponse"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ServicioAgesicServiceSoapBinding" type="tns:ServicioAgesic">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="obtenerPersona">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="obtenerPersona">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="obtenerPersonaResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ServicioAgesicService">
<wsdl:port binding="tns:ServicioAgesicServiceSoapBinding" name="ServicioAgesicPort">
<soap:address location="https://agesic-nodo.herokuapp.com/agesic-nodo/ServicioAgesic"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>